{% extends "index.html" %} {% block title %}statistikk{% endblock  %}
{% block content %}
<h1>statistikk</h1>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    velg Semester
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">HØST 23</a>
  </div>
</div>
<div>
  <br>
</div>
<div class="table-responsive">

  <table class="table table-sm" border="1">
    <tr>
      <th>dato</th>
      <th>Bedpres</th>
      <th>helhetsinntrykk</th>
      <th>andel kvinner / menn</th>
      <th>andel data / komtek</th>
      <th>andel interreserte / ikke</th>
      <th>fordeling klassetrinn</th>
      <th>framføring av presentasjonen</th>
      <th>innholdet på presentasjonen</th>
      <th>kunnskap om bedriften før</th>
      <th>kunnskap om bedrift etter</th>
      <th>info om jobbmuligheter</th>
      <th>minglingen</th>
      <th>interesant arbeid</th>
      <th>sosialt miljø</th>
      <th>arbeidsvilkår</th>
      <th>vurdering av bedrift</th>
      <th>Slett bepres</th>
    </tr>
    {% for x in bedriftdata %}
      <tr>
        <td>{{ x.dato_bedpres }}</td>
        <td>{{ x.navn_bedrift }}</td>
        <td>{{ x.inntrykk_arrangement }}</td>
        <td>{{ x.andel_kvinner }}</td>
        <td>{{ x.andel_data }}</td>
        <td>{{ x.andel_interreserte }}</td>
        <td>{{ x.fordeling_klassetrinn }}</td>
        <td>{{ x.fremforing_presentasjon }}</td>
        <td>{{ x.innhold_presentasjon }}</td>
        <td>{{ x.kunnskap_bedrift_pre }}</td>
        <td>{{ x.kunnskap_bedrift_post }}</td>
        <td>{{ x.info_jobb }}</td>
        <td>{{ x.mingling }}</td>
        <td>{{ x.intterresant_arbeid }}</td>
        <td>{{ x.sosialt_miljø }}</td>
        <td>{{ x.arbeidsvilkår }}</td>
        <td>{{ x.helhetsvurdering }}</td>
        <td> 
          <form action="{% url 'del_bedpres' %}?id={{ x.id }}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('sikker på at du vil slette denne?');">slett</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock  %}