{% extends "index.html" %}

{% block title %}Statistikk{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>Statistikk</h1>

    <div class="dropdown mb-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ semester }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for x in alle_semestre %}
          <a class="dropdown-item" href="{% url 'statistikk' %}?id={{ x.semester }}">{{ x.semester }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Dato</th>
            <th>Bedpres</th>
            <th>Helhetsinntrykk</th>
            <th>Andel kvinner/menn</th>
            <th>Andel data/komtek</th>
            <th>Andel interesserte/ikke</th>
            <th>Fordeling klassetrinn</th>
            <th>Framføring av presentasjonen</th>
            <th>Innholdet på presentasjonen</th>
            <th>Kunnskap om bedriften før</th>
            <th>Kunnskap om bedrift etter</th>
            <th>Info om jobbmuligheter</th>
            <th>Mingling</th>
            <th>Interessant arbeid</th>
            <th>Sosialt miljø</th>
            <th>Arbeidsvilkår</th>
            <th>Vurdering av bedrift</th>
            <th>Slett bedpres</th>
          </tr>
        </thead>
        <tbody>
          {% for x in bedriftdata %}
            <tr>
              <td>{{ x.dato_bedpres }}</td>
              <td>{{ x.navn_bedrift }}</td>
              <td>{{ x.inntrykk_arrangement }}</td>
              <td>{{ x.andel_kvinner }}</td>
              <td>{{ x.andel_data }}</td>
              <td>{{ x.andel_interreserte }}</td>
              <td>{{ x.fordeling_klassetrinn }}</td>
              <td>{{ x.fremforing_presentasjon }}</td>
              <td>{{ x.innhold_presentasjon }}</td>
              <td>{{ x.kunnskap_bedrift_pre }}</td>
              <td>{{ x.kunnskap_bedrift_post }}</td>
              <td>{{ x.info_jobb }}</td>
              <td>{{ x.mingling }}</td>
              <td>{{ x.intterresant_arbeid }}</td>
              <td>{{ x.sosialt_miljø }}</td>
              <td>{{ x.arbeidsvilkår }}</td>
              <td>{{ x.helhetsvurdering }}</td>
              <td>
                <form action="{% url 'del_bedpres' %}?id={{ x.id }}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Sikker på at du vil slette bedpresen ved navn {{x.navn_bedrift}}?');">Slett</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
