{% extends "index.html" %} {% block title %}last opp fil{% endblock  %}
{% block content %}

    <h1>last opp CSV-fil fra bedrift</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">last opp fil </button>
    </form>

    <script>
        window.onload = function() {
            {% if messages %}
                {% for message in messages %}
                    if ("{{ message.tags }}" == "error") {
                        alert("{{ message }}");
                    }
                {% endfor %}
            {% endif %}
        }
    </script>
{% endblock  %}